*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 2px #24242426;
    height: 13vh;
}

header div{
    display: flex;
}

header ul{
    display: flex;
    list-style: none;
    width: 32vw;
    justify-content: space-evenly;
    font-size: 20px;
}

header h2{
    margin-left: 10px;
}

main{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main section{
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1{
    width: 19vw;
}

main div{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 19vh;  
}

button{
    background-color: #FCA60F;
    width: 19vw;
    height: 8vh;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

main nav{
    display: flex;
    justify-content: space-evenly;
    width: 10vw;
}

@media (max-width:500px) {
    header{
        flex-direction: column;
    }

    header ul{
        width: 80vw;
    }

    main section{
        width: 100vw;
        height: 58vh;
        align-items: center;
    }

    h1{
        width: 85vw;
        text-align: center;
    }

    main figure{
        display: none;
    }

    main div{
        height: 35vh;
        align-items: center;
    }
    button{
        width: 72vw;
        font-size: 22px;
    }

    main nav{
        width: 50vw;
    }
}